@import "tailwindcss";

@font-face {
    font-family: AlbertSans;
    src: url('./assets/fonts/AlbertSans-Regular.ttf');
}

@font-face {
    font-family: AlbertSans-SemiBold;
    src: url('./assets/fonts/AlbertSans-SemiBold.ttf');
}

@font-face {
    font-family: AlbertSans-Bold;
    src: url('./assets/fonts/AlbertSans-Bold.ttf');
}

@theme {
    --font-AlbertSans: "AlbertSans";
    --font-AlbertSans-SemiBold: "AlbertSans-SemiBold";
    --font-AlbertSans-Bold: "ALbertSans-Bold";

    --color-primary: #16325b;
    --color-primary-hover: #1f4782;
    --color-secondary: #227B94;
    --color-secondary-hover: #155263;
}
